.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(129, 129, 129);
    opacity: 0.6;
    z-index: 1;
}
.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 400px;
    height: 350px;
    z-index: 2;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}
.close-btn {
    background: transparent;
    position: absolute;
    color: blue;
    font-size: 30px;
    text-decoration: none;
    top: 10px;
    line-height: 1;
    right: 15px;
    border: none;
    cursor: pointer;
}
.close-btn:hover{
    color: red;
    font-size: 34px;
}
.infoHeading {
    font-size: 20px;
    font-weight: bold;
}
.infoTable {
    margin: 20px 20px 0 20px;
    text-align: left;
}
.infoTable td {
    padding: 7px;
}