@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
    font-size: 1rem;
    margin: 0;
    height: 100vh;
    align-items: center;
}
table {
    align-items: center;
    border-collapse: collapse;
    width: 70% !important;
    margin: 0 auto ;
}
table, th, td {
    border: 1px solid black;
}
tr:nth-child(odd) {
    background-color: rgb(247, 224, 204);
}
tr:nth-child(even) {
    background-color: rgb(237, 244, 249);
}
table thead th, table thead td{
    background: burlywood;
}
Thead{
    background-color: rgb(233, 104, 247);
    padding: 6px;
    text-transform: uppercase;
    font-weight: bold;
} 

#errorMsg{
    color: red;
    font-size: larger;
}
.buttoncontainer{
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    justify-content: right;
 }
.addNewUser{
    position: absolute;
    right: 15%;
    top: 5%;
    background-color: green;
    color: #fff;
    border: 1px solid green;
    border-radius: 5px;
    width: 120px;
    line-height: 2;
    text-align: center;
    justify-items: center;
    margin: 20px 10px 20px 0;
 }
 .tableContainer{
    position: relative;
    top: 60px;
 }
 .clickhere{
    border: none;
    text-decoration: underline;
    color: blue;
    
 }
 .clickhere:hover{
    cursor: pointer;
    color: rgb(250, 82, 39);
 }