.formpopup .formoverlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(129, 129, 129);
    opacity: 0.6;
    z-index: 1;

}
.formcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FBF2CF;
    width: 80%;
    z-index: 2;
    padding: 5px;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 0.5;
    max-height: 600px;

}
.formpopup .close-form {
    position: absolute;
    top: 20px;
    right: 20px;

}
.form-div{
    display: flex;
    flex-wrap: wrap;
}
.form-field{
    max-height: fit-content;
    margin: 10px 0 6px 0 ;
    width: calc(100% /3 - 10px);
    display: inline-block;
    /* justify-content: space-between; */
}
label{
    display: block;
    width: 70%;
    margin: 4px 0;

}
input {
    width: 70%;
    padding: 5px 8px;
    border: 1px solid rgb(94, 92, 92);
    border-radius: 4px;
    box-sizing: border-box;
}
.container{
    width: 45%;
    display: inline-block;
    margin-top: 0;
}
.errormsg{
    color: red;
}
.close-form{
    font-size: 2rem;
    text-decoration: none;
}
.submit-btn{
    background-color: green;
    color: #fff;
    border: 2px solid rgb(0, 34, 10);
    border-radius: 8px;
    width: 100px;
    line-height: 1.5;
    text-align: center;
}