body{
    background-color: #ddd;
    margin: 0;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}
table {
    font-size: 1rem;
    align-items: center;
    border-collapse: collapse;
    width: 80%;
    margin: 15px auto ;
    /* border-top-left-radius : 12px; */
    /* border-top-right-radius: 12px; */
}
table, th, td {
    border: 1px solid black;
}
tr:nth-child(odd) {
    background-color: rgb(247, 224, 204);
}
tr:nth-child(even) {
    background-color: rgb(237, 244, 249);
}
table thead th, table thead td{
    background: burlywood;
}
thead{
    background-color: rgb(233, 104, 247);
    padding: 6px;
    text-transform: uppercase;
    font-weight: bold;

} 
/* thead :first-child {
    border-top-left-radius: 12px;
}
thead :last-child {
    border-top-right-radius: 12px;
} */
td {
    text-align: center;
    padding: 6px;
    text-transform: capitalize;
}
  
#errorMsg{
    color: red;
    font-size: larger;
}
.buttoncontainer{
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    justify-content: right;
 }
.addNewUser{
    position: absolute;
    right: 10%;
    top: 5%;
    background-color: green;
    color: #fff;
    border: 2px solid rgb(0, 34, 10);
    border-radius: 8px;
    width: 120px;
    line-height: 2;
    text-align: center;
    justify-items: center;
    margin: 20px 10px 20px 0;
 }
 .tableContainer{
    position: relative;
    top: 90px;
 }
 a{
    text-decoration: underline;
    color: blue;
    
 }
 a:hover{
    cursor: pointer;
    color: rgb(250, 82, 39);
 }